@import '@/styles/variables.scss';

.item {
  padding: $spacing-6 $spacing-8;
}

.id {
  font-size: 13px;
  font-weight: $semi-bold;
  color: $text-primary;
  font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
  width: 44px;
  flex-shrink: 0;
  text-align: center;
}

.label {
  font-size: 13px;
  font-weight: $regular;
  color: $text-primary;
  font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
  line-height: 1.6;
  word-break: keep-all;
}
