.container {
  background-color: $background-secondary;
  height: 100vh;
  width: 100vw;
}

.mainContent {
  flex: 1;
  min-width: 0;
  background-color: $background-primary;
  border: 1px solid $border-primary;
  border-radius: $spacing-16;
  overflow-y: auto;
}
