// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Text Colors
$text-primary: #101013;
$text-strong: #3D4350;
$text-secondary: #5C5C70;
$text-correct: #89DA7F;
$text-wrong: #DA7F7F;

// Background Colors
$background-primary: #F9F9FB;
$background-secondary: #EEEEF2;
$background-third: #E2E2E9;
$background-fourth: #D7D7DF;

// Brand Colors
$brand-primary: #3333CC;
$brand-secondary: #DCDCF5;

// Border Colors
$border-primary: #D9D9E2;
// Spacing
$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-14: 14px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
